<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
<mapper namespace="projectgroup">
 
 <select id="getDeptList" resultType="MemberSearchVo">
 
 SELECT <!-- detp만 화면으로.. -->
 
 </select>
 
 <select id="getTeamList" resultType="MemberSearchVo">
 
 <!-- detp받아서 team만 화면으로 -->
 
 </select>
 
  <select id="getEmpList" resultType="MemberSearchVo">
 
 <!--  team받아서 emp리스트 화면으로 -->
 
 </select>
 
 
 	
</mapper>