<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
<mapper namespace="projectgroup">
 
 
<!-- detp만 화면으로.. -->
<select id="getDeptList" resultType="com.kh.oup.project.vo.DeptVo">
	 SELECT DISTINCT * FROM DEPARTMENT 
</select>


<!-- detpCode받아서 team만 화면으로 -->
<select id="getTeamList" parameterType="string" resultType="com.kh.oup.project.vo.TeamVo">
	 SELECT DISTINCT T.TEAM_CODE, T.TEAM_NAME, T.DEPART_CODE 
	 FROM TEAM T
	 JOIN DEPARTMENT D ON (D.DEPART_CODE = T.DEPART_CODE)
	 WHERE T.DEPART_CODE = #{deptCode}
</select>
 
 
 <!--  teamCode받아서 emp리스트 화면으로 -->
<select id="getEmpList" parameterType="string" resultType="com.kh.oup.project.vo.ProjectGroupVo">
	SELECT  
	
	E.EMPLOYEE_NO,
	E.EMPLOYEE_NAME,
	E.TEAM_CODE,
	E.ENT_YN,
	E.JOB_POSITION,
	T.TEAM_NAME,
	D.DEPART_NAME,
	J.JOB_TITLE_NAME
	
	FROM EMPLOYEE E
	JOIN TEAM T ON(E.TEAM_CODE = T.TEAM_CODE)
	JOIN DEPARTMENT D ON(T.DEPART_CODE = D.DEPART_CODE)
	JOIN JOBTITLE J ON(E.JOB_TITLE_CODE = J.JOB_TITLE_CODE)
	WHERE T.TEAM_CODE = #{teamCode} AND E.ENT_YN='N'
	
</select>
 
 
 <!--detail페이지 >>   prjectNo받아서 그룹원리스트 화면으로 -->
<select id="getPrjGroup" parameterType="int" resultType="com.kh.oup.project.vo.ProjectGroupVo">
	SELECT  
	
	E.EMPLOYEE_NO,
	E.EMPLOYEE_NAME,
	E.TEAM_CODE,
	E.ENT_YN,
	E.JOB_POSITION,
	T.TEAM_NAME,
	D.DEPART_NAME,
	G.PROJECT_NO,
	G.GROUP_POSITION
	
	FROM EMPLOYEE E
	JOIN TEAM T ON(E.TEAM_CODE = T.TEAM_CODE)
	JOIN DEPARTMENT D ON(T.DEPART_CODE = D.DEPART_CODE)
	JOIN GROUP1 G ON(E.EMPLOYEE_NO = G.EMPLOYEE_NO)
	WHERE E.ENT_YN='N'AND G.PROJECT_NO = #{projectNo}
	
</select>


 <!-- 전체 그룹 리스트 -->
 <select id="getGroupList" resultType="com.kh.oup.project.vo.ProjectGroupVo">
 	SELECT  
	
	E.EMPLOYEE_NO,
	E.EMPLOYEE_NAME,
	E.TEAM_CODE,
	E.ENT_YN,
	E.JOB_POSITION,
	T.TEAM_NAME,
	D.DEPART_NAME,
	G.PROJECT_NO,
	G.GROUP_POSITION
	
	FROM EMPLOYEE E
	JOIN TEAM T ON(E.TEAM_CODE = T.TEAM_CODE)
	JOIN DEPARTMENT D ON(T.DEPART_CODE = D.DEPART_CODE)
	JOIN GROUP1 G ON(E.EMPLOYEE_NO = G.EMPLOYEE_NO)
	WHERE E.ENT_YN='N'
 </select>
 
 <insert id="enrollPg" parameterType="java.util.List">

    INSERT INTO GROUP1(GROUP_NO, PROJECT_NO, EMPLOYEE_NO, GROUP_POSITION)
    SELECT SEQ_GROUP1.NEXTVAL, A.* FROM(
    <foreach item="item" collection="list" separator="UNION ALL ">
        select 
        #{item.projectNo} AS PROJECT_NO, 
	    #{item.employeeNo} AS EMPLOYEE_NO,
	    #{item.groupPosition} AS GROUP_POSITION
       	FROM DUAL
    </foreach>) A

 </insert>
 
 <delete id="delPg" parameterType="int">
 DELETE FROM GROUP1 
 WHERE PROJECT_NO = #{projectNo}
 </delete>
 
 
</mapper>